.App {
  text-align: center;
}


.App-header {
    background: url("https://wallpapercave.com/wp/wp2587231.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

